autopep8==1.6.0
cycler==0.11.0
fonttools==4.33.3
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.3
opencv-contrib-python==3.4.11.45
packaging==21.3
pathlib==1.0.1
Pillow==9.1.0
pycodestyle==2.8.0
pyparsing==3.0.9
python-dateutil==2.8.2
scikit-learn==1.1.0
scipy==1.8.0
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
toml==0.10.2
